spring:
  application:
    name: ecommerce-system

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/ecommerce_system?useSSL=false&allowPublicKeyRetrieval=true}
    username: ${DB_USERNAME:ecommerce_user}
    password: ${DB_PASSWORD:ecommerce_pass}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        enable_lazy_load_no_trans: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: ${PORT:8080}   # Railway injects PORT env
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param

app:
  jwt:
    secret: ${JWT_SECRET:MyEcommerceSecretKeyForJWTMustBeAtLeast32CharactersLong123456}
    expirationMs: 86400000

file:
  upload-dir: uploads

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc: DEBUG
    com.jayaa.ecommerce: DEBUG

# Added for Production CORS (Vercel)
frontend:
  url: ${FRONTEND_URL:http://localhost:3000}
