spring:
  application:
    name: ecommerce-system
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        enable_lazy_load_no_trans: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  web:
    cors:
      allowed-origin-patterns:
        - ${FRONTEND_URL}
      allowed-methods: GET,POST,PUT,DELETE,OPTIONS,PATCH
      allowed-headers: "*"
      allow-credentials: true
      exposed-headers: Authorization
      max-age: 3600

server:
  port: ${PORT:8080}
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param

app:
  jwt:
    secret: ${JWT_SECRET}
    expirationMs: 86400000

file:
  upload-dir: uploads

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc: DEBUG
    com.jayaa.ecommerce: DEBUG

frontend:
  url: ${FRONTEND_URL}
